{% extends 'base.html' %}
{% block title %} dashboard {% endblock %}
{% block content %}
<div>
    <div>
        <p>This is dashboard</p>
    </div>
    <div>
        <canvas id="line-chart" width="800" height="450"></canvas>
    </div>
    <div>
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
    </div>
</div>


<script>
    new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels:{{ dates | safe }} ,
    datasets: [{ 
        data: {{ day_sales| safe }},
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{ day_profit | safe }},
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, 
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Sales and Profit per day'
    }
  }
});




new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
data: {
    labels: {{ product_names | safe }},
    datasets: [
        {
            label: "Sales per product",
            backgroundColor: "#3e95cd",
            data: {{ prod_sales | safe }}
        },
        {
            label: "Profit per product",
            backgroundColor: "#8e5ea2",
            data: {{ prod_profit | safe }}
        }
    ]
}
    options: {
      title: {
        display: true,
        text: 'Sales and Profit per Product(Ksh.)'
      }
    }
});
</script>
{% endblock %}