{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
<div>
    <p>This is the products page</p>

    <form action="/add_products" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Product Name</label>
    <input type="text" name="p_price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Buying Price</label>
    <input type="number" name="b_price" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
     <label class="form-check-label" for="exampleCheck1">Selling Price</label>
      <input type="number" name="s_price" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in products_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{  i[1] }}</td>
                    <td> {{ i[2] }}</td>
                    <td> {{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}