{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
<div>
    <p>This is the products page</p>

    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in products_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{  i[1] }}</td>
                    <td> {{ i[2] }}</td>
                    <td> {{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}